---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Jar's Free Stuff";
const items = await getCollection('itemCollection');
---

<BaseLayout pageTitle={pageTitle}>
	<ul>
		{items.map((item: any) => <li><a href={`/items/${item.id}/`}>{item.data.title}</a></li>)}
	</ul>
</BaseLayout>
